In [129]:
import pandas as pd
from datetime import datetime
import numpy as np

In [130]:
#spx_data = pd.read_csv('SPXdata.csv')
#spx_data['Date']=spx_data.apply(lambda x: datetime.strptime(x['Date'], '%m/%d/%Y'), axis=1)
#spx_data.set_index('Date')

            Close/Last     Open     High      Low
Date
2024-04-25     5048.42  5019.88  5057.75  4990.58
2024-04-24     5071.63  5084.86  5089.48  5047.02
2024-04-23     5070.55  5028.85  5076.12  5027.96
2024-04-22     5010.60  4987.33  5038.84  4969.40
2024-04-19     4967.23  5005.44  5019.02  4953.56
...                ...      ...      ...      ...
2014-05-02     1881.14  1885.30  1891.33  1878.50
2014-05-01     1883.68  1884.39  1888.59  1878.04
2014-04-30     1883.95  1877.10  1885.20  1872.69
2014-04-29     1878.33  1870.78  1880.60  1870.78
2014-04-28     1869.43  1865.00  1877.01  1850.61

[2531 rows x 4 columns]

In [127]:
def profit_compare(y_pred, y_test, X_test):
    X_test['DateTime'] = pd.to_datetime(X_test['Earnings Date and Time'])
    X_test.drop('Earnings Date and Time', axis = 1, inplace=True)
    X_test = X_test.reset_index()
    X_test = X_test.sort_values(by=['DateTime'])

    tickers = set(X_test['Ticker'].values)
    diffs = []

    for ticker in tickers:
        #print(ticker)
        mult_strat = 1
        mult_rand = 1
        mult_buy = 1
        X_ticker = X_test[X_test['Ticker']==ticker]
        indices = X_ticker.index

        for i in indices:
            if y_pred[i] >= 0:
                mult_strat=mult_strat*(1+(y_test[i]/100))
            else:
                mult_strat=mult_strat*(1-(y_test[i]/100))
            toss = np.random.binomial(1,0.5)
            if toss > 0:
                mult_rand=mult_rand*(1+(y_test[i]/100))
            else:
                mult_rand=mult_rand*(1-(y_test[i]/100))
            mult_buy=mult_buy*(1+(y_test[i]/100))
            
        
        #spx_final = spx_data['Close/Last'][spx_data['Date'].apply(datetime.date) == datetime.date(X_ticker['DateTime'].iloc[-1])].values[0]
        #spx_initial = spx_data['Close/Last'][spx_data['Date'].apply(datetime.date) == datetime.date(X_ticker['DateTime'].iloc[0])].values[0]

        #mult_spx = spx_final/spx_initial
        diffs.append([mult_strat, mult_rand, mult_buy])

        
        #print(mult_strat)
        #print(' ')

    return(np.mean(diffs, axis=0))